<mat-expansion-panel (opened)="fetchDetails()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{gist.description}}
    </mat-panel-title>
    <mat-panel-description>
      <mat-chip-list>
        <mat-chip
          class="chip"
          color="primary" size="small" selected
          *ngFor="let tag of tags">
          {{tag}}
        </mat-chip>
      </mat-chip-list>
    </mat-panel-description>
  </mat-expansion-panel-header>

  Files:
  <app-gist-file-item *ngFor="let item of gist.files | keyvalue"
      [file]=item.value>

  </app-gist-file-item>


  <div *ngIf="forks.length > 0">Forked by:
    <mat-card>
      <mat-card-header>
        <div *ngFor="let fork of forks">
          <a href="{{fork.owner.html_url}}" target="_blank">
            <img mat-card-avatar src="{{fork.owner.avatar_url}}" alt="{{fork.owner.login}} avatar"/>
          </a>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</mat-expansion-panel>
