<mat-expansion-panel (opened)="fetchDetails()">
  <mat-expansion-panel-header>
    <mat-panel-title class="gist-header">
      <div>
        {{gist.description || "No description"}}
      </div>
      <div>
        <mat-chip-list>
          <mat-chip
            class="chip"
            color="primary"  selected
            *ngFor="let tag of tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="info">Files:</div>
  <app-gist-file-item *ngFor="let item of gist.files | keyvalue"
      [file]=item.value>

  </app-gist-file-item>


  <div *ngIf="forks.length > 0">
    <div class="info">
      Forked by:
    </div>
    <mat-card>
      <mat-card-header>
        <div *ngFor="let fork of forks">
          <a href="{{fork.owner.html_url}}" target="_blank">
            <img mat-card-avatar src="{{fork.owner.avatar_url}}" alt="{{fork.owner.login}} avatar"/>
          </a>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</mat-expansion-panel>
