<div id="app">
  <div class="container"></div>
  <div class="container">
    <h2>Search gists by git username:</h2>
  </div>
  <div class="container search-header">
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="search" #username (keyup.enter)="searchByUsername(username.value)"/>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchByUsername(username.value)">Search</button>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Tag</mat-label>
      <mat-select [(ngModel)]="tagFilterValue" (ngModelChange)="handleFilter()" name="tag">
        <mat-option [value]="">All</mat-option>
        <mat-option [value]="tag" *ngFor="let tag of tags">{{tag}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div
      *ngIf="user">
      <a href="{{user.html_url}}" target="_blank">
        <img class="avatar" src="{{user.avatar_url}}" alt="{{user.login}} avatar"/>
      </a>
    </div>
  </div>

  <div class="container">
    <div *ngIf="gists.length > 0">
      <app-gist-item *ngFor="let gist of filteredGists"
                     [gist]=gist
                     (outputTags)="addToTags($event)">
      </app-gist-item>
    </div>
    <div *ngIf="gists.length === 0">
      No results
    </div>
  </div>
</div>
