<div id="app">
  <div class="container"></div>
  <div class="container">
    <h2>Search gists by git username:</h2>
  </div>
  <div class="container">
    <mat-form-field>
      <label>
        <input matInput type="search" #username/>
      </label>

    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchByUsername(username.value)">Search</button>
    <div class="container">
      <div *ngIf="gists.length > 0">
        <app-gist-item *ngFor="let gist of gists"
                       [gist]=gist>
        </app-gist-item>
      </div>
      <div *ngIf="isError || gists.length === 0">
        No results
      </div>
    </div>
  </div>
</div>
